*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
body{
   background: linear-gradient( #344b85,#1abc9c);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;

}
.hide{
    display: none !important;
}
.container{
    background-color: #2c3e50;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
  min-width: 400px;
  min-height: 400px;
    background-color: #244970;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#calc-container h2{
    text-align: center;
    margin-bottom: 2rem;
}
.form-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.form-control{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.form-control label{
    font-weight: bold;
    margin-bottom: 0.6rem;
    color: #edebeb;
}
.form-control input{
padding:1rem 0.5rem;
border: none;
border-radius: 5px;
}
.action-control{
   display: flex;
   justify-content: space-between;
   margin-top: 2rem;
   gap: 1rem;
   
}
button{
 text-transform: uppercase;
 padding: 1rem 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: #4b8295;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.9;
    transition: all 0.3s ease;
    flex: 1;
}
button:hover{
    opacity: 1;
    background-color: #3a6b7d;
}
#clear-btn{
    background-color: #e74c3c;
} /* tabela */
#result-container{
    text-align: center;
 
}
#imc-number{
    font-size: 2.4rem;
    margin-bottom: 0.6rem;
}
#imc-info{
    font-size: 1.4rem;
    color: #edebeb;
}
#result-container h3{
    margin-top: 1rem;
    color: #dfdfdf;
}
#imc-table {
  margin: 1.5rem 0;
  font-size: 0.8rem;
}

.table-header {
  font-weight: bold;
  color: #ccc;
}

.table-header,
.table-data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #444;
  text-align: center;
}

.table-header h4,
.table-data p {
  flex: 1;
}

.table-header h4:nth-child(3),
.table-data p:nth-child(3) {
  max-width: 80px;
}

#back-btn {
  align-self: center;
}

.good {
  color: #12db34;
}

.low {
  color: #dbce12;
}

.medium {
  color: #db6212;
}

.high {
  color: #db1912;
}